<div ng-controller="AdminCtrl">
	<md-toolbar class="md-primary" layout>
		<div layout layout-align="space-around center" class="md-toolbar-tools">
			<h2 class="md-toolbar-tools">事务管理</h2>
			<span flex></span>
			<md-button aria-label="sign out" layout-margin ng-show="signedIn" ng-click="signOut()">
				<i class="fa fa-sign-out" style="margin:10px 20px 10px 20px; color: rgb(255,64,129);"></i>
			</md-button>
		</div>
	</md-toolbar>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="图书入库">
				<md-divider></md-divider>
				<md-tabs md-dynamic-height md-border-bottom layout-margin layout-padding>
					<md-tab label="单本入库" >
						<md-content class="md-padding" ng-controller="singleCtrl">
							<div class="md-subheader" flex>请输入图书信息</div>
							<form name="form" layout="column">
								<div layout flex>
									<md-input-container>
										<label>图书编号</label>
										<input type="text" required name="bookNumber" ng-model="book.number">
										<div ng-messages="form.bookNumber.$error">
							      	<div ng-message="required">必填!</div>
							      </div>
									</md-input-container>
								</div>
								<div layout>
									<md-input-container flex>
										<label>书名</label>
										<input type="text" required name="bookTitle" ng-model="book.title">
										<div ng-messages="form.bookTitle.$error">
							          <div ng-message="required">必填!</div>
							      </div>
									</md-input-container>
									<md-input-container flex>
										<label>作者</label>
										<input type="text" ng-model="book.author">
									</md-input-container>
								</div>

								<div layout>
									<md-input-container flex>
										<label>出版社</label>
										<input type="text" ng-model="book.press">
									</md-input-container>
									<md-input-container flex>
										<label>分类</label>
										<input type="text" ng-model="book.category">
									</md-input-container>
								</div>

								<div layout>
									<md-input-container flex>
										<label>年份</label>
										<input type="number" min="1900" max='{{now | date:"yyyy"}}' step="1" ng-model="book.year" required>
										<div ng-messages="form.bookCount.$error">
										    <div ng-message="required">必填!</div>
										</div>
									</md-input-container>
									<md-input-container flex>
										<label>价格</label>
										<input type="number" min="0.00" step="0.01" ng-model="book.price">
									</md-input-container>
									<md-input-container flex>
										<label>数量</label>
										<input type="number" required name="bookCount" min="1" step="1" ng-model="book.total">
										<div ng-messages="form.bookCount.$error">
							      	<div ng-message="required">必填!</div>
							      </div>
									</md-input-container>
								</div>
								<div layout="row" layout-margin layout-padding layout-align="center end" flex>
									<md-button class="md-primary md-raised" ng-click="submit()" ng-disabled="form.$invalid">
										<div style="margin: 5px 20px 5px 20px">
											<span>入库</span>
										</div>
									</md-button>
								</div>
							</form>
						</md-content>
					</md-tab>

					<md-tab label="从文件导入">
						<md-content class="md-padding" ng-controller="fileCtrl">
							<div class="md-subheader">请选择数据文件</div>
							<div class="md-subheader">{{file.metadata.name}}</div>
							<form name="fileForm">
								<input type="file" id="upfile" file="file" required ng-show="false" name="upfile">
								<div layout="column" layout-padding flex>
									<div layout layout-padding>
										<md-button ng-click="getFile()" class="md-primary" style="margin-right: 20px">
											<div style="margin: 5px 5px 5px 5px">
												<i class="fa fa-upload"></i>
												<span>选择文件</span>
											</div>
										</md-button>
										<md-button class="md-primary md-raised" ng-disabled="fileForm.$invalid || !file.metadata" layout-margin ng-click="submit()">
											<div style="margin: 5px 20px 5px 20px">
												<span>入库</span>
											</div>
										</md-button>
									</div>
								</div>
							</form>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-tab>
			<md-tab label="借书证管理">
				<md-divider></md-divider>
				<md-tabs md-dynamic-height md-border-bottom layout-margin layout-padding>
					<md-tab label="新增借书证">
						<md-content class="md-padding" layout="column" flex>
							<form name="addCard" ng-controller="addCardCtrl">
								<div layout flex>
									<md-input-container flex>
										<label>借书证号</label>
										<input type="text" required name="number" ng-model="card.number">
									</md-input-container>
									<md-input-container  flex>
										<label>姓名</label>
										<input type="text" required name="name" ng-model="card.name">
									</md-input-container>
								</div>
								
								<div layout flex>
									<md-input-container flex>
										<label>院系</label>
										<input type="text" required name="department" ng-model="card.department">
									</md-input-container>
									<md-select placeholder="类型" ng-model="card.type" required flex>
									    <md-option value="0">学生</md-option>
									    <md-option value="1">老师</md-option>
									    <md-option value="2">其他</md-option>
									</md-select>
								</div>
								<div layout flex>
									<md-input-container flex>
										<label>密码</label>
										<input type="password" required name="password" ng-model="card.password">
									</md-input-container>
									<md-input-container flex>
										<label>确认密码</label>
										<input type="password" required name="password2" ng-model='card.password2'>
									</md-input-container>
								</div>
								<div layout="row" layout-margin layout-padding layout-align="center end" flex>
									<md-button class="md-primary md-raised" ng-disabled="addCard.$invalid || card.password !== card.password2" ng-click="submit()">
										<div style="margin: 5px 20px 5px 20px">
											<span>添加</span>
										</div>
									</md-button>
								</div>
							</form>
						</md-content>
					</md-tab>
					<md-tab label="删除借书证">
						<md-content class="md-padding" layout="column" flex>
							<form name="deleteCard" flex ng-controller="deleteCardCtrl">
								<md-input-container>
									<label>借书证号</label>
									<input type="text" required name="cardNumber" ng-model="card.number">
								</md-input-container>
								<div layout="row" layout-margin layout-padding layout-align="center end" flex>
									<md-button class="md-primary md-raised" ng-disabled="deleteCard.$invalid" ng-click="submit()">
										<div style="margin: 5px 20px 5px 20px">
											<span>删除</span>
										</div>
									</md-button>
								</div>
							</form>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
