	<style>
		td, th {
			padding: 10px;
			text-align: left;
		}
		th {
			color: #3F51B5;
		}
	</style>
	<md-toolbar class="md-primary">
		<div layout  class="md-toolbar-tools">
		<h2 class="md-toolbar-tools">图书详情</h2>
		<span flex></span>
		<md-button aria-label="back" layout-margin ng-href="/query/">
			<i class="fa fa-angle-left" style="margin:10px 20px 10px 20px;"></i>
		</md-button>
		<md-button aria-label="sign in" layout-margin ng-show="!signedIn" ng-href="/login/">
			<i class="fa fa-sign-in" style="margin:10px 20px 10px 20px;"></i>
		</md-button>
		<md-button aria-label="sign out" layout-margin ng-show="signedIn" ng-click="signOut()">
			<i class="fa fa-sign-out" style="margin:10px 20px 10px 20px; color: rgb(255,64,129);"></i>
		</md-button>
	</div>
	</md-toolbar>
	<md-content layout="column" ng-controller="BookCtrl">
		<md-whiteframe layout="column" layout-align="center center" layout-fill>
			<md-card layout="column" layout-margin layout-padding style="min-width: 45%">
				<md-card-content layout="column" layout-align="space-around center" flex flex-order="1">
					<h3 layout-padding ng-bind="book.title"></h3>
					<md-divider class=""></md-divider>
					<table>
						<tr>
							<th>编号</th>
							<td>{{book.number}}</td>
						</tr>
						<tr>
							<th>作者</th>
							<td>{{book.author}}</td>
						</tr>
						<tr>
							<th>出版社</th>
							<td>{{book.press}}</td>
						</tr>
						<tr>
							<th>年份</th>
							<td>{{book.year}}年</td>
						</tr>
						<tr>
							<th>价格</th>
							<td>{{book.price | number:2}}元</td>
						</tr>
						<tr>
							<th>总计</th>
							<td>{{book.total}}本</td>
						</tr>
						<tr>
							<th>库存</th>
							<td>{{book.stock}}本</td>
						</tr>
					</table>
				</md-card-content>
				<md-action-bar layout layout-align="end center" flex flex-order="2">
					<md-button class="md-primary md-raised" ng-disabled="! book.stock > 0 || !signedIn" ng-click="submit()">
						<div style="margin: 5px 20px 5px 20px">
							<span>借书</span>
						</div>
					</md-button>
			</md-action-bar>
			</md-card>
		</md-whiteframe>
	</md-content>
