<style>
	td, th {
		padding: 10px;
		text-align: left;
	}
	th {
		color: #3F51B5;
	}
</style>
<div ng-controller="CardCtrl" style="height: 100%" layout="column">
	<md-toolbar class="md-primary" layout>
		<div layout layout-align="space-around center" class="md-toolbar-tools">
			<h2 class="md-toolbar-tools">借书证信息</h2>
			<span flex></span>
			<md-button aria-label="query" layout-margin ng-href="/query/">
				<i class="fa fa-search" style="margin:10px 20px 10px 20px;"></i>
			</md-button>
			<md-button aria-label="sign out" layout-margin ng-show="signedIn" ng-click="signOut()">
				<i class="fa fa-sign-out" style="margin:10px 20px 10px 20px; color: rgb(255,64,129);"></i>
			</md-button>
		</div>
	</md-toolbar>
	<div layout-fill>
		<md-whiteframe layout="column" layout-align="center center" layout-padding>
			<md-card layout="column" layout-fill style="width: 80%" flex>
				<table>
					<tr>
						<th>卡号</th>
						<td>{{cardBooks.card.number}}</td>
					</tr>
					<tr>
						<th>姓名</th>
						<td>{{cardBooks.card.name}}</td>
					</tr>
					<tr>
						<th>学院</th>
						<td>{{cardBooks.card.department}}</td>
					</tr>
					<tr>
						<th>类型</th>
						<td>{{cardBooks.card.type}}</td>
					</tr>
				</table>
				<md-divider></md-divider>
				<div layout-padding layout layout-align="center">
					<span>已借图书</span>
				</div>
				<md-divider></md-divider>
				<div layout layout-align="center center">
					<md-table headers="headers" content="cardBooks.books" sortable="sortable" count="count" selected="selected" disabled="disabled"></md-table>
				</div>
				<div layout layout-align="center center" layout-padding layout-margin>
					<md-button ng-click="submit()" ng-disabled="selected.length == 0" class="md-primary md-raised">
					<div style="margin: 5px 20px 5px 20px">
						<span>还书</span>
					</div>
					</md-button>
				</div>
			</md-card>
		</md-whiteframe>
	</div>
</div>
