<div style="height: 100%" ng-controller="LoginCtrl">
	<md-whiteframe layout layout-align="center center" layout-fill >
		<md-card layout="column" layout-padding>
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="借书证">
					<form name="form" ng-controller="cardLoginCtrl">
						<div layout="column" layout-align="center center">
							<md-card-content layout="column" flex flex-order="1">
								<md-input-container>
									<label>借书卡号</label>
									<input type="text" required ng-model="cardNumber">
								</md-input-container>
								<md-input-container>
									<label>密码</label>
									<input type="password" required ng-model="password">
								</md-input-container>			
							</md-card-content>
							<md-action-bar layout layout-margin flex flex-order="2">
								<md-button class="md-primary" ng-click="login()" ng-disabled="form.$invalid" flex>
									<div style="margin: 5px 20px 5px 20px">
										<span>登录</span>
									</div>
								</md-button>
								<md-button class="md-primary md-raised" ng-href="/query/" flex>
									<div style="margin: 5px 20px 5px 20px">
										<span>查询</span>
									</div>
								</md-button>
							</md-action-bar>
						</div>
					</form>
				</md-tab>
				<md-tab label="管理员">
					<form name="adminForm" ng-controller="adminLoginCtrl">
						<div layout="column" layout-align="center center">
							<md-card-content layout="column" flex flex-order="1">
								<md-input-container>
									<label>帐号</label>
									<input type="text" required ng-model="id">
								</md-input-container>
								<md-input-container>
									<label>密码</label>
									<input type="password" required ng-model="password">
								</md-input-container>			
							</md-card-content>
							<md-action-bar flex flex-order="2">
								<md-button class="md-primary" ng-click="login()" ng-disabled="adminForm.$invalid">
									<div style="margin: 5px 20px 5px 20px">
										<span>登录</span>
									</div>
								</md-button>
							</md-action-bar>
						</div>
					</form>
				</md-tab>
			</md-tabs>
		</md-card>
	</md-whiteframe>
</div>
