<div ng-controller="QueryCtrl">
	<md-toolbar class="md-primary" layout flex>
		<div class="md-toolbar-tools">
			<h2>图书查询</h2>
			<span flex></span>
			<md-button aria-label="user info" layout-margin ng-show="signedIn" ng-href="/card/">
				<i class="fa fa-user" style="margin:10px 20px 10px 20px;"></i>
			</md-button>
			<md-button aria-label="sign in" layout-margin ng-show="!signedIn" ng-href="/login/">
				<i class="fa fa-sign-in" style="margin:10px 20px 10px 20px;"></i>
			</md-button>
			<md-button aria-label="sign out" layout-margin ng-show="signedIn" ng-click="signOut()">
				<i class="fa fa-sign-out" style="margin:10px 20px 10px 20px; color: rgb(255,64,129);"></i>
			</md-button>
		</div>
	</md-toolbar>
	<div layout flex>
		<md-content layout="column" layout-padding flex='{{sidebarOpen ? "15" : ""}}'>
			<div ng-show="!sidebarOpen">
				<md-input-container>
					<label>编号</label>
					<input type="text" ng-model="book.number">
				</md-input-container>
			</div>
			<form ng-show="showForm" name="form">
				<div layout="{{sidebarOpen ? 'column' : 'row'}}" layout-sm="column">
					<md-input-container flex>
						<label>书名</label>
						<input type="text" ng-model="book.title">
					</md-input-container>
					<md-input-container flex>
						<label>作者</label>
						<input type="text" ng-model="book.author">
					</md-input-container>
				</div>

				<div layout="{{sidebarOpen ? 'column' : 'row'}}" layout-sm="column">
					<md-input-container flex>
						<label>出版社</label>
						<input type="text" ng-model="book.press">
					</md-input-container>

					<md-input-container flex>
						<label>分类</label>
						<input type="text" ng-model="book.category">
					</md-input-container>
				</div>
				
				<div layout="{{sidebarOpen ? 'column' : 'row'}}" layout-align="start" flex>
					<md-checkbox ng-model="book.priceEnable">
						价格
					</md-checkbox>
					<div ng-show="book.priceEnable" layout="row" layout-align="center center" style="max-width: 300px">
						<md-input-container style="padding-bottom: 2px" flex>
							<input type="number" step="0.01" min="0" ng-model="book.priceLow">
						</md-input-container>
						<div layout-margin>
							<span> - </span>
						</div>
						<md-input-container style="padding-bottom: 2px" flex>
							<input type="number" step="0.01" min="{{book.priceLow | number:2}}" ng-model="book.priceHigh">
						</md-input-container>
						<div layout-margin>
							<span> 元 </span>
						</div>
					</div>
				</div>

				<div layout="{{sidebarOpen ? 'column' : 'row'}}" layout-align="start" flex>
					<md-checkbox ng-model="book.yearEnable">
						年份
					</md-checkbox>
					<div ng-show="book.yearEnable" layout="row" layout-align="center center" style="max-width: 300px">
						<md-input-container style="padding-bottom: 2px" flex>
							<input type="number" step="1" min="1900" max='{{now | date:"yyyy"}}' ng-model="book.yearLow">
						</md-input-container>
						<div layout-margin>
							<span> - </span>
						</div>
						<md-input-container style="padding-bottom: 2px" flex>
							<input type="number" step="1" min="{{book.yearLow}}" max='{{now | date:"yyyy"}}' ng-model="book.yearHigh">
						</md-input-container>
						<div layout-margin>
							<span> 年 </span>
						</div>
					</div>
				</div>

				<div layout="row">
					<md-checkbox ng-model="book.stock" ng-init="book.stock = true">
						<span>库存非空</span>
					</md-checkbox>
				</div>
			</form>
			<div style="margin-top: 30px" layout layout-align="center center" flex>
				<md-button class="md-raised md-primary md-default-theme" ng-click="submit('click')" ng-disabled="showForm &amp;&amp; form.$invalid">
					<div style="margin: 5px 20px 5px 20px"><span>查询</span></div>
				</md-button>
			</div>
		</md-content>
		<!-- query result -->
		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" style="min-width: 85%">
		 	<div ng-controller="ResultCtrl">
	    	<md-toolbar layout flex class="md-primary">
		    	<div layout class="md-toolbar-tools">
		      		<h3>查询结果</h3>
		      		<span flex></span>
		      		<md-button aria-label="sign in" layout-margin ng-show="!signedIn" ng-href="/login/">
		      			<i class="fa fa-sign-in" style="margin:10px 20px 10px 20px;"></i>
		      		</md-button>
		      		<md-button aria-label="user info" layout-margin ng-show="signedIn" ng-href="/card/">
		      			<i class="fa fa-user" style="margin:10px 20px 10px 20px;"></i>
		      		</md-button>
		      		<md-button aria-label="sign out" layout-margin ng-show="signedIn" ng-click="signOut()">
		      			<i class="fa fa-sign-out" style="margin:10px 20px 10px 20px; color: rgb(255,64,129);"></i>
		      		</md-button>
		      	</div>
	    	</md-toolbar>
	    	<md-content md-scroll-y flex layout>
	        <div layout="column" layout-align="start center" layout-padding flex>
		        <md-input-container layout-padding style="width: 90%">
		        	<label>搜索</label>
		        	<input type="text" ng-model="search">
		        </md-input-container>
		        <div layout-padding layout-margin flex>
		        	<md-table headers="headers" content="books.list" sortable="sortable"  count="count" selected="selected" disabled="disabled" filters="search"></md-table>
		     		</div>
	     		</div>
	     	<!-- selected books -->
		  		<md-card layout-fill flex="20">
		    		<div>
							<div layout layout-align="space-around" style="margin-top: 30px; margin-bottom: 30px" flex>
								<div>
					        <md-button ng-click="close()" class="md-primary">
					        	<div style="margin: 5px 20px 5px 20px">
					          		<span>返回</span>
					          	</div>
					        </md-button>
				        </div>
				        <div>
				        	<md-button ng-click="borrow()"  class='md-primary md-raised' ng-disabled="!borrowable || !signedIn">
				        		<div style="margin: 5px 20px 5px 20px">
					        		<span>借书</span>
					        	</div>
					        </md-button>
					     </div>
					    </div>
			    		<!-- selected books list -->
				     	<div layout="column">
					     	<div class="md-subheader" ng-show="!borrowable &amp;&amp; signedIn">请选择书籍</div> 
					     	<div class="md-subheader md-warn" ng-show="!signedIn">登录后方可借书</div> 
				     		<md-list layout="column" layout-padding ng-show="borrowable">
					     		<md-subheader>已选择：</md-subheader>
					     		<md-list-item ng-repeat="book in selected" flex>
					     			<span><em>{{book.title}}</em>,</span>
					     			<span><pre>{{book.author}}</pre></span>
					     			<md-divider></md-divider>
					     		</md-list-item>
					     	</md-list>
				     	</div>
		    		</div>
		  		</md-card>
	  		</md-content>
			</div>
	  </md-sidenav>
	</div>
</div>
